body,
html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  background-image: url("https://starwalk.space/gallery/images/upcoming-celestial-events-summer-2021/1920x1080.jpg");
}

header {
  padding-top: 1%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #bebebe;
}

#logo {
  padding: 0%;
  margin: 0%;
  background-color: #ffff;
  border-radius: 10px;
  border: 3px solid;
  border-color: #f5f5f5;
}

#naveg ul {
  font-size: 23px;
  list-style: none;
}
