@font-face {
  font-family: "Nasalization";
  src: url(./fonts/nasalization-rg.otf);
}

@font-face {
  font-family: "Nimbus-Sans";
  src: url(./fonts/Nimbus-Sans-D-OT-Light_32752.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-image: url(./gif/4K_UHD_25fps_FREE_Video_Background_Stars_Space_Trip.gif);
  background-position: cover;
  background-size: 100%;
  background-repeat: round;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  background-color: #bebebeb7;
  font-family: "Nimbus-Sans";
}

#logo {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: Nasalization;
  padding-left: 4%;
}

#logo img {
  justify-content: center;
  width: 5%;
  height: 5%;
}

#lista {
  width: 40%;
}

#lista ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

#lista a {
  color: black;
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
  font-family: "Nimbus-Sans";
}

.letras {
  font-family: Nasalization;
}

main {
  width: 100%;
  height: 100%;
}

#about {
  text-align: center;
  color: white;
  font-size: 23px;
  padding: 2%;
}

#about input {
  text-align: center;
}

#about h2 {
  text-align: center;
  color: white;
}

form {
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
}

#titulo {
  color: white;
  font-family: "Nimbus-Sans";
}

#imagem {
  width: 30%;
}

#imagem-apod {
  padding: 1%;
  max-width: 60%;
}

#video {
  display: none;
}

#coment {
  padding: 1%;
  color: white;
  font-family: "Nimbus-Sans";
}

#rodape {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 7%;
  box-sizing: border-box;
  background-color: #bebebeb7;
  font-family: "Nimbus-Sans";
}

#reservados {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

#links {
  justify-content: flex-end;
  width: 20%;
}
