@font-face {
  font-family: "Nasalization";
  src: url(./fontes/nasalization-rg.otf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  height: auto;
  background-image: url(./gif/4K_UHD_25fps_FREE_Video_Background_Stars_Space_Trip.gif);
  background-position: cover;
  background-size: 100%;
  background-repeat: round;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  background-color: #bebebeb7;
  font-family: "Space Mono", monospace;
}

#logo {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: Nasalization;
  padding-left: 4%;
}

#logo img {
  justify-content: center;
  width: 5%;
  height: 5%;
}

#lista {
  width: 40%;
}

#lista ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

#lista a {
  color: black;
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
  font-family: "Space Mono", monospace;
}

.letras {
  font-family: Nasalization;
}

main {
  width: 100%;
  height: 100%;
}

#about {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 7%;
}

#about input {
  text-align: center;
}

#about h2 {
  text-align: center;
  color: white;
}

form {
  text-align: center;
  padding-bottom: 7%;
  padding-left: 7%;
  padding-right: 7%;
}

#titulo {
  color: white;
  font-family: "Space Mono", monospace;
}

#imagem {
  width: 30%;
}

#imagem-apod {
  max-width: 60%;
}

#coment {
  color: white;
  font-family: "Space Mono", monospace;
}

#rodape {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  background-color: #bebebeb7;
  font-family: "Space Mono", monospace;
}
